# Code coverage results
/coverage

# Project files
.tern-port
.tern-project
.idea
*.iml
.vscode

# Cache
.eslintcache

config/_revision

# OS X
.DS_Store

# The .env file is developer local and should never be checked in
.env

*.log

# data model
cardiffnlp/
